@{
    ViewBag.Title = "About";
}
<br />
<br />
<br />
<br />
<section class="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <img src="https://th.bing.com/th/id/OIP.hQEcNLZ47R617WEw0FJiCgHaE8?pid=ImgDet&w=1200&h=800&rs=1" class="img-circle">

            </div>
            <div class="col-md-6" style="padding: 70px;background-color: #696969">
                <h2 style="padding: 10px; color: antiquewhite;">Welcome to Online Shoping</h2>
                <p style="color:white">
                    Click and Collect OR Buy Online Pick-up In Store (BOPIS) Business Model.
                    <br />Click & Collect digital model merges
                    <br />the brick & mortar and eCommerce form of shopping.
                </p>
                <a style="width: 170px; padding: 15px 10px; display: block; background: #6900d1; text-decoration: none !important; color: #fff !important; border-radius: 5px; text-align: center; font-weight: bold; font-size: 14px; box-shadow: 0 9px 9px 1px rgb(204 240 240 / 50%);align-items:center" href="https://localhost:44345/Product"> SHOP</a>
            </div>
        </div>
    </div>
</section>
<section>
    <h3>
        Online shopping is more popular today than ever before. A report from the U.S.
        Census Bureau found that in the second quarter of 2021, an estimated $222.5
        billion was spent in retail e-commerce sales.1 In 2011, for comparison,
        the estimated total for retail e-commerce sales was $47.5 billion.2
        Due in part to new and growing technology, online shopping has become
        incredibly easy and convenient. It also offers a greater selection
        than one storefront, opening the doors to products and services that
        may not be available at a nearby brick-and-mortar store.

        While online shopping comes with a number of benefits,
        there are drawbacks to know about, too.
        Let’s dive deeper into the pros and cons of shopping online.
        <ul>
            <h3>Pros</h3>
            <li>

                <h4>Convenience</h4>

            </li>
            <li>
                <h4>Greater selection</h4>

            </li>
            <li>
                <h4>Easy access to information</h4>
            </li>
        </ul>
    </h3>
    <ul>
        <h3>Cons</h3>
        <li>

            <h4>Can be more expensive</h4>

        </li>
        <li>
            <h4>Increases risk of fraud</h4>

        </li>
        <li>
            <h4>Leads to longer wait times</h4> 
        </li>
    </ul>
    </h5>
</section>