@{
    ViewBag.Title = "Contact";
}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    h2{
        background-color:antiquewhite;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<br />
<br />
<br />
<br />
<body>

    <table>
        <tr>
            <td>CIN</td>
            <td>U72900MH2008PTC177546</td>
        </tr>
        <tr>
            <td>Company Name</td>
            <td>Premier-Mart ONLINE SHOPPING PRIVATE LIMITED</td>

        </tr>
        <tr>
            <td>Company Status</td>
            <td>Active</td>

        </tr>
        <tr>
            <td>RoC</td>
            <td>RoC-Mumbai</td>

        </tr>
        <tr>
            <td>Registration Number</td>
            <td>177546</td>

        </tr>
        <tr>
            <td>Company Category</td>
            <td>Company limited by Shares</td>

        </tr>
        <tr>
            <td>Class of Company</td>
            <td>Private</td>

        </tr>
        <tr>
            <td>Date of Incorporation</td>
            <td>08 January 2008</td>

        </tr>
        <tr>
            <td>Age of Company</td>
            <td>13 years, 11 month, 15 days</td>

        </tr>
        <tr>
            <td>Activity</td>
            <td>
                Other computer related activities [for example maintenance of websites of other firms/ creation of multimedia presentations for other firms etc.]

                Click here to see other companies involved in same activity.
            </td>

        </tr>
        <tr>
            <td>Contact-Details</td>
            <td>(1822-07-2908)/9553634646</td>

        </tr>
    </table>

</body>


